.day {
  display: grid;
  place-items: center;

  height: auto;
  aspect-ratio: 1/1;

  border-radius: 50%;
  background: #e5eff8;
  box-shadow:
    2px 2px 2px #d7dde9,
    -2px -2px 2px #edf5ff;

  .progressRidge {
    height: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background: #e2e9f5;
    box-shadow:
      inset 3px 3px 6px #d7dde9,
      inset -3px -3px 6px #edf5ff;
  }

  .innerCircle {
    position: absolute;

    height: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background: #e2e9f5;
    box-shadow:
      3px 3px 6px #ced4df,
      -3px -3px 6px #e3eff2;
  }

  .progress {
    transform: rotate(-90deg);
    position: absolute;

    circle {
      stroke-width: 13;
      stroke-linecap: round;
      fill: transparent;
    }
  }

  .text {
    position: absolute;
    height: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background: #e2e9f5;
    box-shadow:
      inset 2px 2px 2px #d7dde9,
      inset -2px -2px 2px #edf5ff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
  }
}
