.journalScreen {
  color: #586171;
  flex: 1;
}

h1,
p {
  margin: 0;
}

.title {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.separator {
  height: 4px;
  margin: 16px 0px;

  border-radius: 39px;
  background: #e6edf8;
  box-shadow:
    inset 1px 1px 2px #bbc2c8,
    inset -1px -1px 2px #ffffff;
}

.days {
  display: flex;
  justify-content: space-between;
}

.dayLabel {
  font-size: 12px;
  font-weight: bolder;
}

.qualitySection {
  display: flex;
  margin: 32px 0px;
}

.sleepQuality {
  font-size: 14px;
}

.sleepPercent {
  font-size: 24px;
  font-weight: bolder;
}

.timeSection {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.duration {
  font-size: 22px;
  font-weight: bolder;
}

.label {
  font-size: 14px;
}

.statsSection {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  flex-wrap: wrap;
  gap: 2rem;

  .stat {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .icon {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background: #e2e9f5;
    box-shadow:
      inset 5px 5px 9px #d7dde9,
      inset -5px -5px 9px #edf5ff;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    filter: drop-shadow(0px 0px 6px var(--primary));
    stroke: var(--primary);
  }
}
